body {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}

.fancy-button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-image: linear-gradient(45deg, yellow, red);
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  animation: jump 0.5s ease-in-out 0.4s, spin 0.5s ease-in-out,
    hidin 1s 2s ease forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hidin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2000px);
  }
}
