.custom-btn {
  margin: 64px;
  width: 200px;
  height: 50px;
  background-color: coral;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  border: none;
  cursor: pointer;
  line-height: 50px;
  vertical-align: middle;
}

.custom-btn:hover {
  color: darkcyan;
}

.custom-btn:hover > .img-bird {
  fill: green;
}

.img-bird {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white;
}
