.header-text {
  padding: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 96px;
  background-image: linear-gradient(45deg, yellow, red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
