header {
  display: flex;
}

h1 {
  margin: 21.44px auto;
}

.article {
  box-sizing: border-box;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex: 1 0 300px;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
