* {
  box-sizing: border-box;
}

html {
  font-family: Verdana;
  color: #555;
  font-size: 16px;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  font-size: xx-large; /*  */
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
  padding: 0.67em 0;
  margin: 0;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin: 0.5em 0; /* 0 0.5em - 0.5em 0 */
  padding: 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-list-link {
  text-decoration: none;
  color: #fff;
}

.section {
  width: 60%;
  padding: 0.5em;
  font-size: 1.25em;
}

.section__header {
  font-size: 5vw;
  text-align: center;
  /* line-height: normal; */
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

main {
  display: flex;
  flex: 1 0 auto;
}

.news {
  width: 20%;
  padding: 0.5em;
}

.footer {
  text-align: center;
  background-color: #e5e5e5;
  padding: 0.5em;
  flex-shrink: 0;
}
