* {
  box-sizing: border-box;
}

table {
  width: 500px;
  margin: 16px;
}

caption {
  margin-bottom: 8px;
}

td,
th,
table {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
  text-align: right;
  height: 40px;
}

th {
  background-color: aqua;
}

div {
  overflow-x: auto;
}

tfoot {
  font-weight: 700;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: #aaa;
  color: #fff;
}
