.checkbox {
  display: inline-block;
  padding-left: 35px;
  position: relative;
  font-size: 24px;
  margin: 16px;
}

input {
  visibility: hidden;
  height: 0;
  width: 0;
}

.check {
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox input:checked + .check {
  background-color: #006400;
}
