a:link {
  background-color: black;
  color: white;
}

a:visited {
  background-color: orange;
  color: green;
}

button:active,
a:active {
  border: 3px solid red;
}

a:hover {
  font-size: 24px;
}

button:disabled {
  border: 2px dashed grey;
}

button:enabled:hover {
  background-color: grey;
  color: white;
}

input:focus {
  background-color: orange;
}

[type='checkbox']:checked {
  margin-left: 20px;
}
