* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.spinner {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  border-top: 4px solid black;
  border-radius: 50%;
  margin: 0 auto 8px;
  animation: movin 2s infinite linear;
}

@keyframes movin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
