* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

div {
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  line-height: 100px;
  position: relative;
  animation: down 2s ease alternate;
}

@keyframes down {
  from {
    top: -500px;
  }

  to {
    top: 0;
  }
}
